$fontSize: 1em;
$fontWright: 500;
$fontSize: 1em;

button {
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 0.6em 1.2em;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #292733;
  cursor: pointer;
  transition: border-color 0.25s;

  &:not(.active):hover {
    border-color: #9580EC;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.disabled {
    user-select: none !important; 
    opacity: .3;
  }
}

.action {
  &--hover-show {
    opacity: 0;
    padding: 2px;
    border-radius:  0;
    border-color: #343434;
    transition: opacity .4s;
    background-color: transparent;
  }

  &--h--full {
    flex: 1 1 auto;
    padding: 0;
    padding: 8px 2px;
    border-radius: 0;
    border-color: #717171;
    border-left: 0;
  }

  &:not(.active) {
    &:hover,
    &:focus {
      opacity: 1;
      border-color: #4e4e4e;
    }
  }

}